@import url('https://fonts.googleapis.com/css2?family=poppins&family=Handlee&display=swap');

body {
    font-family: poppins;
}

:root {
  --primary-color: #0d0b07;
  --secondary-color: #ca600a;
  --accent1-color: #2e501e;
  --accent2-color: #36affe;

  --heading-font: Handlee, serif;
  --paragraph-font: poppins, serif;

  --nav-background-color: #ffffff;
  --nav-link-color: #36affe;
  --nav-hover-link-color: #0d0b07;
  --nav-hover-background-color: #36affe;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    /* background-color: var(--nav-hover-background-color); */
  }

  
.hero img {
    display: block;
    width: 100%;
    height: auto;
  }