@import url('https://fonts.googleapis.com/css2?family=poppins&family=Handlee&display=swap');

body {
    font-family: poppins;
}

:root {
  --primary-color: #0d0b07;
  --secondary-color: #ca600a;
  --accent1-color: #2e501e;
  --accent2-color: #36affe;

  --heading-font: Handlee, serif;
  --paragraph-font: poppins, serif;

  --nav-background-color: #ffffff;
  --nav-link-color: #36affe;
  --nav-hover-link-color: #0d0b07;
  --nav-hover-background-color: #36affe;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
  }

p{
  padding-top: 2%;
  padding-bottom: 2%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
}

div {
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
  float: right;
  /* padding: auto; */
}

.hero h1{
  position: absolute;
  color: #ffffff;
  padding: 1%;
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0.3);
  /* text-align: center; */
  /* align-items: center; */
  /* padding-left: 50%; */
  /* padding-right: 0%; */
  text-align: center;
}

.hero article p{
  position: absolute;
  color: #ffffff;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgba(6, 57, 151, 0.3);
  width: 70%;
  margin-top: 20%;
  text-align: justify;
}

.hero article img {
  position: absolute;
  right: 0%;
  padding: 5%;
  background-color: rgba(6, 57, 151, 0.3);
  padding: 20px;
  width: 30%;
  margin-top: 20%;
}

.hero h2{
  position: absolute;
}

.header-align{
  text-align: center;
  margin-top: 10px;
  opacity: 0;
}

.flex-header-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 50px;
  background-color: #b5dffa;
  padding: 20px;
}

.flex-header-element{
  border: 1px solid #0d0b07;
  text-align: center;
  width: 150px;
}

.history-section{
  padding-top: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-gap: 15px;
  text-align: justify;
  border: 1px solid #0d0b07;
  padding: 20px;

}
.history-title{
  grid-column: 1/4;
  justify-self: center;
}

.adventure-section{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  /* grid-template-rows: repeat(1, 1fr); */
  align-items: center;
  border: 1px solid #0d0b07;
  padding: 20px;
  margin-top: 20px;
 }
.adventure-title{
  grid-column: 1/6;
  justify-self: center;
}
 .grid-footer{
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #b5dffa;
  margin-top: 10px;
  align-items: center;
  text-align: center;
 }

 .social-links{
  background-color: #b5dffa;
 }